/************* Activity *************/

section#activity {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
}

.activity-cards {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.activity-cards .card {
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 0;
}

.activity-cards .card img {
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activity-cards .card p {
    margin-left: 10px;
}

.activity h2 {
    margin-bottom: 30px;
}