/************* Navigateur liens *************/
nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 61px;
    padding: 30px 50px;
    height: 19px;
}

.nav-links {
    display: flex;
    gap: 69px;
    padding-right: 50px;
}

.link-hebergements-and-populaires:hover,
.link-activity:hover {
    border-top: #0065fc 2px solid;
    color: #0065fc;
}
