/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1460px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
    padding-top: 14px;
}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

h3 {
    margin: 0;
}





